<form id={{formID}}>
		<h3>{{headerText}}:</h3>

		<input id="{{formInputID}}" type="{{formType}}" maxlength="{{formLength}}" placeholder="{{placeHolder}}" pattern="{{formPattern}}" title="{{formTitle}}" required>
		<button>{{buttonText}}</button>

		<textarea id="{{textareaID}}" readonly></textarea>
	</form>